.setting_box{
  box-sizing: border-box;
  position: fixed;
  left:0;
  top:0;
  width:20vw;
  height:100vh;
  background: #ccc;
  text-align: center;
  overflow-y: scroll;
  padding: 6vw 1.5vw 0 1.5vw;
}
::-webkit-scrollbar{
  display: none;
}
.engine_box {
  position: relative;
  display: table;
  float:left;
  width:4vw;
  height:4vw;
  margin: 2vw;
}
.engine_box :hover{
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.engine_box span{
  position: absolute;
  top:-0.6vw;
  left:3vw;
  width:1.5vw;
  height:1.5vw;
  line-height: 1.3vw;
  border-radius: 1.5vw;
  background: #7d6cfc;
  font-size: 120%;
  color:#fff;
  text-align: center;
}
.engine_box span:hover{
  cursor: pointer;
}
.engine_box img{
  box-sizing: border-box;
  width:4vw;
  height:4vw;
  border-radius: 1vw;
  background: #fff;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}
.library_box{
  box-sizing: border-box;
  position:fixed;
  left:20vw;
  top:0;
  width:80vw;
  height:100vh;
  background: #fff;
  padding: 2vw 5vw 5vw 5vw;
  font-size:120%;
  color:#ccc;
  overflow-y: scroll;
}
.category{
  display: inline-block;
  width:70vw;
}
hr{
  border: none;
  height: 1px;
  background: #eee;
}
.save_button span{
  position: fixed;
  bottom: 10vh;
  right: 5vw;
  width:50px;
  height: 50px;
  border-radius: 50px;
  text-align: center;
  line-height: 50px;
  background: #7d6cfc;
  color:#fff;
  border: 0;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}
.save_button span:hover{
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
