<html>
<head>
	<meta charset="UTF-8">
	<title>casebrowser</title>
	<script src="../js/jquery-3.5.1.min.js"></script>
	<script src="../js/casebrowser.js"></script>
	<link type="text/css" rel="stylesheet" href="../css/casebrowser.css"/>
</head>
<body>
	<div class='hover_frame'>
		 <div class='input_box'>
		     <h1>CASEBROWSER</h1>
		     <input type='text' value='请输入关键词'/>
		     <button>搜索</button>
		  </div>
		<div class='tag_box'>
		    <ul>
		      <li id='setting_button' class='engine_box'>+</li>
		    </ul>
		 </div>
		 <div class='img_page setting_page'>
		 	<div>
		 		<p><span>搜索引擎<span></p>
		 			<form></form>
		 	</div>
		 	<div>
		 		<p><span>正文抓取规则<span></p>
		 			<form></form>
		 	</div>
		 	<ul>
		 		<li>关闭</li>
		 		<li>重置</li>
		 		<li>保存</li>
		 	</ul>
		 </div>
	 </div>
</body>
</html>
